.people {
  display: flex;
  width: 100%;

  .people-name {
    line-height: 28px;
  }

  .people-avatar {
    display: flex;
    margin-#{$opposite-float}: 5px;
    height: 28px;
    max-width: 28px;
    min-width: 28px;
    max-height: 28px;
    width: 28px;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      border: 1px solid $crom;
    }
  }
}
